.Courses,
.NewGame {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.courseListingDiv {
    text-align: center;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courseListingDiv div {
    font-size: 140%;
}
.course {
    height: 50px;
    width: 100%;
    border: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startNewGameButton {
    width: 50%;
    height: 100%;
    padding: 5%;
    margin: 5%;
}

.addNewCourseButton {
    width: 50%;
    height: 100%;
    margin: 5%;
    padding: 5%;
}
