.gamePlayDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    height: 90%;
}
.holeScoreDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 25%;
}
.holeScoreDiv > * {
    font-size: large;
    width: 25%;
    text-align: center;
    height: 100%;
}

.currentHoleScore {
    height: 50%;
    font-size: 5rem;
}

.holeInformationDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 15%;
}

.finishRound {
    position: fixed;
    height: 5%;
    top: 0;
    right: 0;
}

.holeDiv {
    font-size: xx-large;
}

.holeList {
    overflow: scroll;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
    height: 15%;
    display: flex;
}

.holeList div {
    display: flex;
    align-items: center;

    font-size: xx-large;
    min-width: 25%;
    border: solid;
}
.holeList div p {
    width: 100%;
}
.selectedHole {
    background-color: rgb(173, 173, 173);
}
