/* Päävalikon ylin divi */
.Mainmenu {
    display: flex;
    flex-direction: column; /* otsikko ja napit ovat allekkain */
    align-items: center; /* keskilinjassa leveys suunnassa */
    justify-content: center; /* otsikko ja napit ovat pystysuunnassa keskellä */
    height: 100%; /* päävalikko on koko ruudun korkuinen  */
}

/* Div, mikä sisältää valikon napit */
.mainMenuButtons {
    display: flex;
    flex-direction: column; /* napit ovat allekkain */
    justify-content: space-between; /*napit ovat tasasin väliajoin*/
    align-items: center; /* napit ovat leveydellisesti keskilinhassa */
    height: 60%; /* Antaa tilaa napeille*/
    width: 80%; /* määrää nappien leveyden suhteessa ruutuun */
    max-width: 300px; /* Ei venytetä liikaa */
}

/* kaikki napit */
.mainMenuButtons button {
    /* Napit täyttävät leveydellään oman Divinsä,
    korkeudella eivät, 
    Jos tulee lisää nappeja niin height pienemmäksi*/
    width: 100%;
    height: 15%;
    font-size: large;
}
