.scorecard tr:nth-child(even) {
    background-color: #cfcfcf;
}

.scorecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
    margin-top: 5%;
}
.scorecard div {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.scorecard div table {
    text-align: center;
    width: 100%;
    height: 100%;
}
.scorecardRow {
    height: 40px;
}
.deleteButton {
    position: fixed;
    height: 5%;
    top: 0;
    right: 0;
}
