/* Scorecard-valikon div */
.Scorecards {
    display: flex;
    height: 100%; /* koko näytön korkuiseksi */
    justify-content: space-around; /* otsikon ja listauksen ympärillä tilaa  */
    align-items: center; /* leveyssuunnassa keskellä */
    flex-direction: column; /* allekkain */
}

/* tulosten listaus */
.scorecardListingDiv {
    border: solid; /* listalle paksumpi reuna */
    border-width: 3px;

    display: flex;
    width: 100%; /* koko näytön levyiseksi */
    height: 80%; /* ottaa haltuun koko näytöstä 80% korkeudellaan */
    max-height: 400px; /* Kiinteä maksimi korkeus */
    min-height: 400px;
    flex-direction: column; /* Tulokset allekkain */
    align-items: center; /* keskilinjassa leveyssuunnassa */

    overflow-y: scroll; /* Tehdään listasta skrollata, jos on tarpeeksi pitkä */
    overflow-x: hidden; /* Tehdään listasta skrollata, jos on tarpeeksi pitkä */
}
/* yksittäinen tulos listassa */
.scorecardListingDiv div {
    display: flex;
    border: solid; /* ohuempi reuna listan elementille */
    border-width: 1px;
    width: 100%;
    font-size: 140%; /* isolla tekstillä */
    /* margin-bottom: 5%; */ /* vähän väliä alla olevaan */
}
