body,
html,
#root,
.App,
.subMenuDiv {
    margin: 0;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.backButton {
    position: fixed;
    height: 5%;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 700px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #root {
        max-width: 2000px;
        min-width: 50%;
    }
}
